extends layout.pug

block content
    include messages.pug

    if (loggedIn)
        | You are logged in as #{userEmail}
    else
        | You are not logged in&nbsp;
        a(href="/log-in") Log In
