extends layout.pug

block styles
    link(rel="stylesheet" href="/css/sign-up.css")

block content
    form.form-sign-up(method="post")
        img(class="mb-4" src="/img/desk.png" width="72" height="72")
        h1(class="h3 mb-3 font-weight-normal") Please sign up
        include messages.pug
        include authorization_variables.pug
        label(for="inputEmail" class="sr-only") Email address
        input(type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus)
        label(for="inputPassword" class="sr-only") Password
        input(type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required)
        label(for="inputPassword" class="sr-only") Password Confirmation
        input(type="password" id="inputPasswordConfirmation" name="passwordConfirmation" class="form-control" placeholder="Password Confirmation" required)
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Create account
        p.mt-5.mb-3.text-muted &copy; #{new Date().getFullYear()}